{{#extends 'base'}}
{{#block 'content'}}
{{#block 'title'}}
<h1>Welcome to Posters Galore</h1>
{{/block}}
<h2>Every band poster under the sun!</h2>
<h2>You name it, we have it</h2>
{{/block}}
{{/extends}}