{{#extends 'base'}}

{{#block 'content'}}
<h1>Create New Product</h1>
<form method="POST">
    {{{form}}}
    <div>
        <a href='#' class="btn btn-primary" id="upload_widget">Upload</a>
    </div>
    <input type="submit" value="Add Product" class="btn btn-primary" />

</form>
{{/block}}
{{#block 'js'}}
<script src='https://widget.cloudinary.com/v2.0/global/all.js'></script>
<script>
    const cloudName = '{{cloudinaryName}}'
    const apiKey = '{{cloudinaryApiKey}}'
    const uploadPreset = '{{cloudinaryPreset}}'
</script>
{{/block}}

{{/extends}}